@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #181818;
}

.primary-color {
    color: #FD6E0A;
}

section{
    margin-top: 130px;
}
/* =============== */
.header {
    background-color: #FFF8F3;
    background: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 36px;
    cursor: pointer;
}

/* ========== */
.banner {
    display: flex;
    align-items: center;
    margin: 0 40px 0 200px;
    justify-content: space-between;
}

.banner-sub-title {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin: 20px 0 30px;
    line-height: 30px;
}

/* === Main === */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* ===== About ====== */

.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 156px;
    text-align: center;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

/* ====== */

.what-i-do-description {
    text-align: center;
    padding: 0 150px;
}

/* === skills-container === */

.skills-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0 20px;
}

.skill-description {
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}

/* === Resume === */

.resume .section-title{
    margin-bottom: 100px;
    text-align: center;
}